# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
number_float = 2.3
print(number_float)
number_float = 7.2
print(number_float)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 2
num2 = 5.4 

result = num1 + num2 
print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [4]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1 
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [5]:
result_mul = num2 * num1 
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [6]:
result_div = num2 / num1 
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [7]:
result_floor = num2 // num1
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [8]:
result_mod = 13 % 2 
print(result_mod)

result_mod %= 2 
print(result_mod)

1
1

##### Exponential

In [9]:
square = 5 ** 2 
print(square)

square **= 2 
print(square)

25
625

### String Input-Output

##### String Assignment

In [10]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [11]:
print("This is my firts name: ", name)

print("Full Name: ", name, end =" Apol")

This is my firts name:  Brandon
Full Name:  Brandon Apol

##### String Concatenation

In [12]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [13]:
number = "32"
change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [14]:
# Input will always return a string 
name = input('What is your name?')
print('Nice to meet you ' + name)

age = int(input('What is your age?: '))
add_age = age + 5
print(add_age)

What is your name?Brolin
Nice to meet you Brolin
What is your age?: 21
26

##### format()

In [16]:
age = input("what is your age? ")

result_string = "you are {} {} and you are getting wiser!".format(age,name)
print(result_string)

result_again = f"{age}is a great time in life!!!"
print(result_again)

what is your age? Brolin
you are Brolin Brolin and you are getting wiser!
Brolinis a great time in life!!!

##### Old Way (python 2)

In [19]:
result_string2 = "you are %s and you look great for your age!!"%age
print(result_string2)

you are Brolin and you look great for your age!!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [20]:
color = input("What is the color of your car?")
year = input("What is the year of your car?")
make = input("What is the make of your car?")
model = input("What is the model of your car?")

result_string = f'car color is {color}, car year is {year}, the make is {make}, and the model is a {model}'
print(result_string)

What is the color of your car?Grey
What is the year of your car?2011
What is the make of your car?Rx450h
What is the model of your car?Lexus
car color is Grey, car year is 2011, the make is Rx450h, and the model is a Lexus

### If Statements

In [39]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

# if num1 == num2: 
#     print('Equal Values')
# else: 
#     print('Not Equal')
    
if num2 > num1 or num3 > 0:
    print('Num2 is greater')
elif num1 > num2:
    print('Num1 is greater')
else:
    print('Equal values')

Num2 is greater

##### 'is' keyword

In [40]:
#The 'is' keyword is for checking for the same object but not the same value
num3 = 5 

if num3 is 55:
    print("This is the exact number/object")

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/pq/s95l5frn1q3btv1gg66xjy_00000gn/T/ipykernel_70846/725457640.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [41]:
#  This will check is a character is in a string
char_name = 'Frodo Baggins'
if 'Frodo' in char_name:
    print("Something")

Something

##### 'not in' keyword'

In [42]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print('a is NOT here...')

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [45]:
name = input("What is your name?")

if 'p'not in name:
    print("p is NOT here man")
else:
    print("There is a p here.")

What is your name?Brolin
p is NOT here man

## Using 'and'/'or' with If Statements

In [48]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with and statement 
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# If with or statement
if num_11 > num_12 or num_13 == num_14:
    print("True and Flase")

True and True
True and Flase

### Elif Statements

In [53]:
first_name = input("What is your name?")

if first_name == 'Smith':
    print('The name is Smith.')
elif first_name == "Brandon":
    print('The name is Brandon')
elif first_name != 'Max':
    print ('The name is not Max')
else: 
    print('The name is Max')

What is your name?jerald
The name is not Max

### Else Statements

In [ ]:
# see above

### For Loops

In [54]:
# Synatx:
# for counter in condition

name = 'Brandon Apol'

for letter in name:
    print(letter)

B
r
a
n
d
o
n

A
p
o
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [58]:
for i in range(20):
    if i == 5:
        continue 
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [59]:
for i in range(20):
    if i == 5:
        break 
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [61]:
for i in name:
    pass

##### Double For Loops

In [62]:
for i in range(5):
    for j in range(5):
        print('i =', i, 'j= ', j)

i = 0 j=  0
i = 0 j=  1
i = 0 j=  2
i = 0 j=  3
i = 0 j=  4
i = 1 j=  0
i = 1 j=  1
i = 1 j=  2
i = 1 j=  3
i = 1 j=  4
i = 2 j=  0
i = 2 j=  1
i = 2 j=  2
i = 2 j=  3
i = 2 j=  4
i = 3 j=  0
i = 3 j=  1
i = 3 j=  2
i = 3 j=  3
i = 3 j=  4
i = 4 j=  0
i = 4 j=  1
i = 4 j=  2
i = 4 j=  3
i = 4 j=  4

### While Loops

In [63]:
# Syntax:
# while keyword, condition statement

num = 0 

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [74]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to Stop? ')
    if user_input == 'Yes':
        game_over = False

Infinite Loop
Would you like to Stop? Yes

##### While & For Loops Used Together

In [75]:
num = 0

while num < 5:
    print("\n While loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
        
        num += 1

 While loop iteration: 0
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 2
For loop iteration:  0
For loop iteration:  1

 While loop iteration: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [80]:
#  range(Start,Stop,step)
for i in range(2, 20, 3):
    print(i)

2
5
8
11
14
17

##### len()

In [83]:
name = input('Give me the name of your fav book ')

length = len(name)
print(length)

Give me the name of your fav book whatever
8

##### help()

In [85]:
# use this function to veiw more information about a python function 
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [87]:
# check a variable to find out what object family or data type it belongs to
# syntax: isinstance(ver, type)

print(isinstance(4.5, int))

if isinstance(4.5,float):
    print('This num is a float')

False
This num is a float

##### abs()

In [88]:
# |-5| = 5
print(abs(-5))

5

### Try and Except

In [92]:
# use this to log out graceful and useful error messages 
# does not stop the program

try:
    number_test = 0
    input_num = int(input('Guess a number'))
    print('Your number is ' + str(input_num))
        
except:
    print('that did not work change your input to a number')

Guess a number5
Your number is 5

### Lists

##### Declaring Lists

In [16]:
# list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'bob', 'Nate']
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [4]:
# list_name[start: stop: step]

# # Single Index
print(names[1])

# # Pront starting at index one and go to the end
print(names[1:])

# # Print starting at the begining up until a number 
print(names[:2])

# # Print starting at index 1 and going up by 2 
print(names[1::2])

# # print starting at the back and display in reverse order
print(names[::-1])

Cindy
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [17]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Brandon']

##### .insert()

In [18]:
names.insert(3, 'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'bob', 'Nate', 'Brandon']

##### .pop()

In [9]:
# defaults to the last value if no parameter is given 
# pop returns the element that was removed in case you want to assign it to a variable 

my_name = names.pop(2)
print(my_name)
print(names)

Devon
['Max', 'Cindy', 'bob', 'Nate', 'Brandon', 'Brandon']


##### .remove()

In [19]:
# value to be removed instead of the index number
names.remove('bob')
print(names)

# remove multiple values from a list
while 'Brandon' in names:
    names.remove('Brandon')
    print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Nate', 'Brandon']
['Max', 'Cindy', 'Kathy', 'Devon', 'Nate']

##### del()

In [20]:
# goes by index rather than variable 
# be careful it can cause indexing errors if not used carefully 

del(names[1])
print(names)

['Max', 'Kathy', 'Devon', 'Nate']

##### Concatenating Two Lists

In [25]:
# will append two lists together will NOT add the values

list_2 = [0,1,2]
list_3 = [3,4,5]
large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# lists can hold any type of other element including other lists 
# they can go as deep as you want its called a nested list 

names = ['Max', 'Sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'Tameka']]
print(names)
print(names[3][1][1])

##### Looping Through Lists

In [27]:
# two ways to loop through a list one is through index and the other is using the in keyword
for i in range(len(names)):
    print(names[i])
    
# loop with 'in'
for i in names:
    print(i)

Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']
Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [30]:
for number in range(1,11):
    cubed = number ** 3 
    if cubed > 1000:
        break
    print(cubed)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [41]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1,101):
    if num % 2 != 0 and num % 3 !=0 and num % 5 !=0 and num % 7 !=0:
        print(num)

1
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [48]:
age = int(input("What is your age? "))

if age in range(0,18):
    print('Kids')
elif age in range(19, 65):
    print('Adults')
else:
    print('Seniors')

What is your age? 10
Kids